/* .modal-backdrop.show {
    opacity: 0.5;
}
.modal {
    display: none;
    overflow: visible;
}
.modal.fade.show {
    display: block;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: visibleFill;
}

.modal.fade .modal-dialog {
    transition: translate(0,0);
    pointer-events: auto;
} */

.mat-card {
    border-radius: 32px;
    margin: 30px 10 px;
    border-color: blue;
    padding: 50px;
}

.mat-card#first-card {
    padding: 0;
}

div#profile-backgroud {
    display: flex;
    z-index: 1;
}

div#profile-background img {
    width: 100%;
    border-radius: 32px 32px;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}

div#info-actions {
    display: flex;
}

.btn-right {
    width: 32px;
}

.btn-edit {
    width: 32px;
} 