<!--------------- SKILLS MAT-CARD --------------->
<section class="card mat-card mx-auto chec bgblack" id="skills" style="margin: 10px;">
<div class="container shadow">
	<div class="row">
		<h5 class="text-center p-1 bg-dark text-light rounded p-2">SKILLS MAT-CARD</h5>
		<img src="https://drive.google.com/uc?export=download&id=1Si1FbfZhrQk32SmR-ZLWJCyFVeqWRf26" alt="" width="100px"
			height="100px">
	</div>
	<div class="d-flex justify-content-center mb-4 m-4">
		<button mat-raised-button (click)="openAddDialog()"
			class="btn btn-sm btn-green border shadow m-1 text-center text-light fw-bold">
			<span><img src={{logoadd}} alt="editar" class="chelogo-sm mt-1 bg-white rounded-circle" />AGREGAR
				SKILLS</span>
		</button>
	</div>
	<div *ngFor="let item of skills | async">
		<mat-card (click)="selectSkill(item)">
			<mat-card-actions>
				<div class="align-items-end box1">
					<button (click)="openEditDialog(item)">
						<img src={{logopencil}} class="chelogo" alt="">
					</button>
						<button (click)="deleteItem(item.id)">
							<img src={{logodelete}} class="chelogo" alt="">
					</button>
				</div>
			</mat-card-actions>
			<mat-card-header class="checenter">
				<mat-card-title><b>Descripción: </b>{{ item.descripcion }}</mat-card-title>
			</mat-card-header>
			<mat-card-content class="checenter">
				<p class="checenter"><b>URL-Imagen: </b>{{item.urlImagen}}</p>
			</mat-card-content>
			<mat-card-footer>
				<img mat-card-image src={{item.urlImagen}} alt="Skill Image" class="card-image checenter">
			</mat-card-footer>
		</mat-card>
	</div>
	<ng-template #dialogTemplate let-dialogRef="dialogRef">
		<h2 mat-dialog-title>{{ editMode ? 'Editar Skills' : 'Añadir Skills' }}</h2>
		<mat-dialog-content>
			<!-- <form (submit)="saveSkill()"> -->
			<mat-form-field>
				<mat-label>Titulo</mat-label>
				<input matInput [(ngModel)]="dialogData.descripcion" placeholder="Descripción" required>
			</mat-form-field>
				<mat-label>URL de la imagen</mat-label>
				<input type="file" [(ngModel)]="dialogData.urlImagen" (change)="onFileSelected($event)" placeholder="Imagen" required>
				<ng-container *ngIf="downloadURL">
					<img [src]="downloadURL" alt="Preview" class="preview-image">
				</ng-container>
			<!-- </form> -->
		</mat-dialog-content>
		<mat-dialog-actions>
			<button mat-button (click)="dialogRef.close()">Cancelar</button>
			<button mat-button (click)="saveItem()">Guardar</button> 
		</mat-dialog-actions>
	</ng-template>
</div>
	<!-- <form (submit)="saveSkill()">
		<mat-form-field>
			<input matInput placeholder="Skill Descripción" [(ngModel)]="selectedSkill.descripcion" name="descripcion"
				required>
		</mat-form-field>

		<input type="file" (change)="onFileSelected($event)">
		<ng-container *ngIf="downloadURL">
			<img [src]="downloadURL" alt="Preview" class="preview-image">
		</ng-container>
		<button mat-raised-button color="primary" type="submit">Guardar</button>
	</form> -->
</section>